@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url(../img/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: white solid 5px;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: inline flex;
    padding-top: 30px;
    padding-left: 70px;
}

.navbar li {
    padding-right: 40px;
    font-size: 20px;
    padding-bottom: 20px;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
    transition: 0.5s ease-in-out;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 30px;
    font-size: 30px;
    padding-left: 50px;
}

.content h2 {
    color: teal;
    text-align: center;
    padding-top: 200px;
    font-size: 50px;
    font-weight: 40px;
    float: right;
    padding-right: 20px;
    border: 2px white solid;
    background-color: white;
    padding-bottom: 200px;
}

.content h2 a {
    text-decoration: none;
    padding-left: 20px;
}

.content h2 a:hover {
    text-decoration: underline;
}

.index2 {
    background-image: url(../img/bck3.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

.btn {
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
    padding-left: 80px;
    padding-right: 80px;
}


#cat:hover {
    background-color: mediumslateblue;
}

#dog:hover {
    background-color: darkred;
}

#Pets {
    color: steelblue;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 65px;
}

#trademark {
    color: blueviolet;
    font-weight: 100px;
}

button a {
    text-decoration: none;
}

.index6 {
    background-image: url(../img/bck2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    width: 20%;
    height: 50vh;
}

.dog-img {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

h2 {
    text-align: center;
    color: indigo;
    padding-top: 30px;
}

.index5 {
    background-image: url(../img/index5.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.cat-img {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.cat-img img {
    width: 20%;
    height: 50vh;
}

.index7{
    background-image: url(../img/index7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.pet-img{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.pet-img img{
    width: 20%;
    height: 50vh;
}